<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="baseAuthUrl" value="http://helpdesk.bluetech-roma.it:8081/" />
		<add key="baseBussUrl" value="http://helpdesk.bluetech-roma.it:8082/" />
		<add key="userName" value="g.moretti" />
		<add key="userPassword" value="Gm#2023!" />
		<add key="baseAddress" value="+" />
		<add key="basePort" value="12443" />
		<add key="baseSsl" value="false" />
		<add key="mapping" value="mapping.xml" />
		<add key="logPath" value="c:\Webhook\log.txt" />
		<add key="agenteCRMLead" value="AG0001" />
		<add key="OreAttivitaSchedulate" value="3"/>
		<add key="AttivitaPromemoria" value="Visita;Prima Visita;Riunione"/>
		<add key="WebhookAttivitaSchedulate" value="https://hooks.respond.io/workflows/WEalZmVlxSRa/hrnmoyLymBUJ"/>
	</appSettings>
</configuration>